asgiref==3.8.1
beautifulsoup4==4.13.3
bootstrap4==0.1.0
colorama==0.4.6
crispy-bootstrap4==2024.10
crispy-bootstrap5==2024.10
distlib==0.3.9
Django==4.2.20
django-bootstrap-v5==1.0.11
django-bootstrap5==25.1
django-crispy-bootstrap==0.1.1.1
django-crispy-forms==2.3
django-forms-bootstrap==3.1.0
django-request==1.7.0
django-widget-tweaks==1.5.0
filelock==3.17.0
fontawesomefree==6.6.0
mysqlclient==2.2.7
pillow==11.1.0
platformdirs==4.3.6
psycopg2==2.9.10
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
qrcode==8.2
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
virtualenv==20.29.3
