


<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Russo One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="" rel="stylesheet" />
    <link href="" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'invitados/css/styles_nav_home.css' %}">
    <link rel="stylesheet" href="{% static 'invitados/css/styles_cuenta_regresiva.css' %}">
    <script src="{% static 'invitados/js/cuenta_regresiva.js' %}"></script>
  



</head>

<header class="header">
    

    <img class="img--tit" src="{% static 'invitados/img/img_titulo_bar.png' %}" alt="">

<input class="header__checkbox" type="checkbox" id="open-menu">
<div class="open_menu_button">
    <label for="open-menu" class="fas fa-bars" role="button"></label>
</div>


    <img class="logo-header" src="{% static 'invitados/img/logo_nav10.2.png' %}" alt="">


<div class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="#contact">Home</a></li>
        <li class="nav-item"><a href="{% url 'Registry' %}">Registry</a></li>
        <li class="nav-item"><a href="#portfolio">RSVP</a></li>
        <li class="nav-item"><a href="#contact">Photos</a></li>
    </ul>
</div>

</header>




  
<div class="home__picture">
   <div class="home__picture items">
       <h4 class="title">
           May 3, 2025 &middot; Shaveport, Lou, USA <br>
           ¡Days To Go!
       </h4>
        <img  src="{% static 'invitados/img/foto_home.gif' %}" alt="">
        <div class="contenedor">
            <div class="contenedor--item">
                <h5 class="date--item">Days</h5>
                <div class="numbers" id="dias"></div>
            </div>
    
            <div class="contenedor--item">
                <h5 class="date--item"> Hours</h5>
                <div class="numbers" id="horas"></div>
            </div>
    
            <div class="contenedor--item">
                <h5 class="date--item">Minuts</h5>
                <div class="numbers" id="minutos"></div>
            </div>
    
            <div class="contenedor--item">
                <h5 class="date--item">Seconds</h5>
                <div class="numbers" id="segundos"></div>
            </div>
        </div>
   </div>
</div>
</div>
<div class="nav-body">
    <ul class="nav-list-body"  id="miLista">
        <li  class="nav-item-body" ><a href="{% url 'Home'%}" id="ir">Home</a></li>
        <li  class="nav-item-body"><a href="{% url 'Registry'%}">Registry</a></li>
        <li class="nav-item-body"><a href="#portfolio">RSVP</a></li>
        <li class="nav-item-body"><a href="#contact">Photos</a></li>
    </ul>
       




<body class="img-body-home">
    <div class="card">
        <div class="card__front">
                <picture class="sidebar__iconos sidebar--picture">
                    <source srcset="{% static 'invitados/img/new_parents.jpg' %}" media="(max-width:700px)">
                    <img src="{% static 'invitados/img/new_parents.jpg' %}" alt="">
                </picture>
            
                    <span>¡Hello Everyone!</span>
                    <P>
                        We are glad you are here, now: <br>
                    </P>
                    <h4>Drag the cursor here</h4>
                    <div class="icon-card">
                    <i class="fa-regular fa-circle-up fa-beat-fade"></i>
                </div>
        </div>
        
    
        <div class="card__back">
            <span>
                Thank you for visiting our baby registry!
            </span>
            <P>
                We appreciate you joining us on this journey.
                We are so excited to welcome our little one.
                We know we'll need many items as our daughter grows, 
                but please feel free to bless her with whatever you wish.
                We appreciate your love and support. 
                Love, Colby, Valentina, and Presley.
            </P>
        </div>
    </div>
    

    <footer class="base__footer">
    
        <div class="right_text__footer--base">
            <font color="#7efc96"> &middot; </font> &nbsp;
            <a href="#">Email</a>
            <font color="#7efc96"> &middot; </font> &nbsp;
            <a href="#" ;>Confirm Or Cancel</a>
        </div>
        <div class="left__text__footer--base">
            <font color="#7efc96">  © </font>2025 Mario Alejandro Echeverry. All rights reserved.
            
        </div>
    
    </footer>
</body>



</html>

