{% extends "paginas/base.html" %}
{% load static %}



{% block titulo_pagina %}

<h3 class="titulo_registry">Photos</h3>

{% endblock %}          

{% block content %}

  <body class="photos_img">
  
    <section class="galery" id="galery">
        <h2 class="galery__tittle">Our Journey</h2>
        <div class="galery__container">

              <div class="galery__img-container">
                <img src="{% static 'invitados/img/journey_1.jpg' %}" alt="">
              </div>
              <div  class="galery__img-container">
                <img src="{% static 'invitados/img/journey_2.jpg' %}" alt="">
              </div>
              <div class="galery__img-container">
                <img src="{% static 'invitados/img/journey_3.jpg' %}" alt="">
              </div>
              <div  class="galery__img-container">
                <img src="{% static 'invitados/img/journey_4.jpg' %}" alt="">
              </div>
              <div  class="galery__img-container">
                <img src="{% static 'invitados/img/journey_5.jpg' %}" alt="">
              </div>
              <div  class="galery__img-container">
                <img src="{% static 'invitados/img/eco.png' %}" alt="">
              </div>
        </div>
      
  </section>



  </body>

  {% endblock %}