{% extends "paginas/base.html" %}
{% load static %}




{% block titulo_pagina %}
  <h3 class="titulo_registry">Registry</h3>
 
{% endblock %}          

  {% block content %}
  <body>
    <div class="home__picture">
        <div class="picture-items" >
            <!-- <source srcset="{% static 'invitados/img/foto_home.gif' %}" media="(max-width:700px)"> -->
            <img  class="picture-home"src="{% static 'invitados/img/foto_home.gif' %}" alt="">
            <h4>
                May 3, 2025 &middot; Shaveport, Lou, USA <br>
                ¡Days To Go!
            </h4>
        </div>
    </div>
</body>
{% endblock %}