{% extends "paginas/base.html" %}
{% load static %}



{% block titulo_pagina %}

<h3 class="titulo_registry">Registry</h3>

{% endblock %}          

{% block content %}

  <body class="registry_img">
  


  
  <div class="grid">
   
      <h2>Giff Providers</h2>
   
   
            <div class="grid-item">
              <img src=""> 
            </div>
            <div class="grid-item">
              <img src=""> 
            </div>
            <div class="grid-item">
              <img src=""> 
            </div>
            <div class="grid-item">
              <img src=""> 
            </div>
            
      </div>

  </body>

{% endblock %}