body{
    position:relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: fit-content;
}
body,div{
    box-sizing: border-box;
}

.photos_img{
    position: absolute;
    background-image: url(../../invitados/img/coche.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%
    }
    
    /*----------> GALERY SECTION <-----------*/
.galery{
   
    background-color: #e7bffcd3;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    container-type: inline-size;
    container-name: galery;
    justify-content: space-egalery;
    margin-top: 10%;
    box-shadow: -1px 1px 3px rgb(241, 195, 231);
    width: 45%;
    border-radius: 8px;
    justify-self: center;
   
}
.galery__tittle{
    font-size: 0.8rem;
      font-weight: 600;
    margin-top: 6%;
    text-shadow: -1px 1px 1px rgb(255, 255, 255);
}
.galery__container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 15px;
    padding: 15px;
    min-height: 80vh;
}
.galery__img-container{
    background-image: linear-gradient(#8a45c2e7, #ff53cbd7), url("../../imagenes/onirica.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 8px;
  width: fit-content;
}
.galery__img-container:hover{
 opacity: 0.95;
outline: 2px solid rgb(255, 169, 244);
}
.galery__img-container img{
 
    border-radius: 8px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%
    }
    



/*----------> END GALERY STYLES <-----------*/

 /* <---- GALERY <<< QUERIES >>>   ----->*/
   
 @media screen and (min-width: 700px){ 
    .galery{
   
       
        margin-top: 10%;
        width: 40%;
       
       
    }
    .galery__tittle{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 4%;
    text-shadow: -1px 2px 2px rgb(255, 255, 255);
   
}
    .galery__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .galery__img-container{
        width: 100%;
        height: fit-content;
    }
    .galery__img-container img{
        width: 100%;
        height: 100%;
    }
 
.galery__container .galery__img-container:nth-child(2){

    outline: none
}
.galery__container .galery__img-container:nth-child(2) img{

       height: 106%; 
}
.galery__container .galery__img-container:nth-child(2) img:hover{
   
    outline: 2px solid rgb(255, 169, 244);
    padding-top: 0%;
    margin-top:0;   
     
  
}

 .galery__container .galery__img-container:nth-child(3){

    outline: none
}
.galery__container .galery__img-container:nth-child(3) img{

       height: 109%; 
}
.galery__container .galery__img-container:nth-child(3) img:hover{
   
    outline: 2px solid rgb(255, 169, 244);
    padding-top: 0%;
    margin-top:0;        
}

 .galery__container .galery__img-container:nth-child(6){

    outline: none
}
.galery__container .galery__img-container:nth-child(6) img{

       height: 178%; 
}
.galery__container .galery__img-container:nth-child(6) img:hover{
   
    outline: 2px solid rgb(255, 169, 244);
    padding-top: 0%;
    margin-top:0;        
}

 
 }
 

 

  

     
   /*_________________________________________________________*/ 
 /*----------> <<<< QUERIES / ENDS >>>>  <-----------*/
 /*--------------------------------------------------*/

/*----------> PORTAFOLIO ENDS <-----------*/
/*-----------------------------------*/


