body{
      padding: 0;
      margin: 0;
      font-family: 'Verdana';
      box-sizing: border-box;
      background-color: #fffffffa;
 

     
     
}


 div,ul,nav,header,footer,a,li,label,body,h1,p,img{
      margin: 0;
      padding: 0;
      box-sizing: border;

      }

/*---------->HEADER SECTION <-----------*/

.header{
      position:fixed;
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      width: 100%;
      height: 12dvh;
      align-items: center;
      max-width: 100%;
      z-index: 20;
      top: 0;
      background-color: rgba(255, 201, 232, 0.842);
        
    
  }
  
.header img{
     position: absolute;
    margin: auto;
    width:68%;
         
        }

.header h3{
 position: absolute;
 margin: auto;
 width:80%;
 }

 .open_menu_button{
      position: absolute;
       color: rgb(255, 255, 255);
      text-shadow: -1px 1px 2px #440375;
      font-weight: bold; 
      font-size: 2rem;
      font-weight: lighter;
      align-items: center;
      margin-left: 6%;
      left: 0;
      width:10%;

}

.logo-header{
      position: absolute;
      display: flex;
      flex-direction: row;
      top: 0;
      right:0;
      max-width: 145px;
      z-index: 20;   
}

/* <---- HEADER SECTION  ENDS ----->*/
/*__________________________________*/




/* --- HOME PICTURE SECTION --- */
.home__picture{
    position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width:100%;
      height: max-content;
      top: 10;
     
 
     
}
.picture-home{
margin-top: 15%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

.picture-items{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content:center; 
}

.picture-items h4{
      position: absolute;
      text-align: center;
      align-self: center;
    
      color: rgb(255, 255, 255);
      font-weight: lighter;
      font-family: 'Script MT';
      font-size: clamp(1.3rem, 2.2vw, 1.8rem);
      /* filter: drop-shadow(0px 0px 50px #ff03b3)
      drop-shadow(0px 0px 5px #e02b8e); */
      text-shadow: -3px 1px 3px #1b0119;

}


/* <---- FOTO SECTION  ENDS ----->*/
/*__________________________________*/


/* <---- SIDE NAV  BAR  ----->*/

.nav{
           
         display: flex;
         flex-direction: row;
         justify-content: center; 
         align-content: center;
         text-align: center;
         font-family: 'Script MT';
          width: 100%;
        padding: 20px 0;
                    
   }



.nav-item{
     
list-style: none;       
}

.nav-item a{
      color: #000000;
      font-size: x-large;
      font-weight: 600;     
}

/* <---- SIDE NAV  BAR   ENDS ----->*/
/*__________________________________*/


/* <---- NAV BODY  SECTION  ----->*/

.nav-body{
           
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-content: center;
      text-align: center;
      font-family: 'Script MT';
       width: 100%;
     padding: 0px 0;         
}



.nav-item-body{
      text-align: center;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid rgba(35, 31, 32, 45%);
    background-color: #e69ff8f1;
list-style: none; 

      
}

.nav-item-body:hover{
   
    padding: 10px;
    
background-color: #f0f0f0;
      
}

.nav-item-body a{
   color: #000000;
   font-size: x-large;
   font-weight: 600;   

}

/* <---- NAV BODY SECTION  ENDS ----->*/
/*__________________________________*/




/* <---- MAIN SECTION STYLES ----->*/
.img-main{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height:110dvh;
      width: 100%;
     
      box-sizing: border-box;
      background-image: url(../../invitados/img/main_home_img.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;


}

.card{
   
      position: absolute;
    margin: auto;
      align-self: center;
      display: flex;
      width: clamp(65dvw, 50%, 90dvw);
      height: clamp(max-content, 50%, 100dvh);
      max-width: clamp(65dvw, 50%, 90dvw);
      min-height: clamp(max-content, 50%, 100dvh);
      max-height: clamp(max-content,50%, 100dvw);
      margin-top: 7%;
      background-color:#ed7efc96;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: -1px 1px 1px black;
      
  }
  
  .card__back{
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 12px;
      transform: perspective(900px)rotateY(180deg);
      border-radius: 20px;
      border: 1px dotted white;
  }
  
  .card__back span{
      text-align: center;
      align-self: center;
      font-size: clamp(1.5rem,2.2%, 2rem);
      
      margin: 6px 0;
      
  }
  .card__back p{
      align-self: center;
      text-align: justify;
      font-size: clamp(1.2rem,2.2%, 1.8rem);
  text-wrap: wrap wrap;
      margin: 6px 6px;
      white-space:pre;
      white-space:normal;   
      text-align: justify;
    
    
   
    
  }
  .card__back, .card__front{
  backface-visibility: hidden;
  transition: transform 3s;
  background-color:#ca90f7;
  border-radius: 20px;
  padding-bottom:6px ;
  }
  
  .card:hover .card__front{
      transform: perspective(300px)rotateY(180deg);
  }
  .card:hover .card__back{
      transform: perspective(300px)rotateY(360deg);
      background-color: rgb(253, 22, 138);
      color:#000000;
  }
  
  .card__front{
    
      transform: perspective(200px)rotateY(0deg); 
      margin: 3px;
      padding: 5px;
      background-color: #ca90f7;
      border-radius: 20px;
  }
  .card__front{
     
  height: fit-content;
  background-color: #ff80d5;
  }
  .card__front img{
      width: 100%;
      background-repeat: no-repeat;
      background-size:  cover;
      background-position:center ;
      border-radius: 20px;
      margin-bottom: 10%;
      height:   48dvh;
    
  }

  .card__front span{
    display: flex;
    justify-self: center;
    font-size: clamp(1.5rem,2.2%, 2rem);
     color: rgb(50, 5, 68);
     text-shadow: 1px 1px 1px #ffffff;
     font-weight: bold;
    
  }
  .card__front p{
      display: flex;
      justify-self: center;
  
     font-size: clamp(1rem,2.2%, 1.5rem);
     margin: 0% 0% 7% 0%;
     display: block;
     color: rgb(0, 0, 0);
   font-weight: 400;
    
  }
  .card__front h4{
      text-align: center;
      display: flex;
   align-self: center;
  color: rgba(255, 255, 255, 0.959);
  text-shadow: -1px 1px 1px #000000;
  font-weight:600;
background-color: #3ddb5aec;
  padding: 8px 10px;
  margin: 15px 10px;
  border-radius: 8px;
  transition: background-color 1s, border-radius 0.8s, outline 0.8s,
    outline-offset 0.8s;
    outline: 1px solid rgba(136, 55, 122, 0.829);
  outline-offset: 2; 

  }
  .card__front h4:hover {
      background-color: rgba(255, 138, 226, 0.178);
      color: rgb(255, 0, 106);
      border-radius: 20px;
      padding: 15px;
      outline: 2px solid rgba(253, 3, 3, 0.596);
      outline-offset: -7px;
    }
    
 
  
  .icon-card{
      display: flex;
    justify-self: center;
    font-size: 30px;
    color: #3f0257;
  }

  
  
  
  
/* <---- MAIN SECTION  ENDS ----->*/
/*__________________________________*/





/* <---- CHECKBOX SECTION STYLES ----->*/

.header__checkbox{
      display: none;     
}

.nav-item a:not(:is(:hover,:active)){
      text-decoration: none;
}

.header:has(input[type="checkbox"]:checked).header img{
      display: none;
      }



.header:has(input[type="checkbox"]:checked).header{

display: flex;
background: linear-gradient(rgb(168, 58, 211), rgb(248, 3, 154));
height:120dvh;
font-family: 'Script MT';
width: 100%;

}

.header:has(input[type="checkbox"]:not(:checked)).header .nav{
      display: none;
}


.header:has(input[type="checkbox"]:checked).header .nav{
     
       
         flex-direction: column;
         justify-self: center;
          width: max-content;
          margin-bottom: 30%;
          font-size: 30px;
        
      }




.header__checkbox:checked~ .open_menu_button{
      color: rgb(0, 0, 0);
      text-shadow: -1px 1px 2px #ffffff;
      top: 20px;
      align-self: flex-start;
      font-weight: lighter;

}


.header .header__checkbox{
      display: none;
   
}

 .header:has(input[type="checkbox"]:not(:checked)).header .logo-header
{
      display:none;  
          
}


.header:has(input[type="checkbox"]:checked).header .logo-header
{
      display: flex;
     margin-right: -7%;
     margin-top: 1%;
    

 
      
}

.header:has(input[type="checkbox"]:checked) h4,
.header:has(input[type="checkbox"]:checked) .contenedor
{
      display:none;
} 


/* <---- CHECKBOX SECTION STYLES ENDS ----->*/
/*__________________________________*/



/*----------> FOOTER  / <<<<  BASE>>>>  <-----------*/

.base__footer {
      position:absolute;
      display: flex;
      align-self: flex-end;
      
      flex-direction: column;
      background-color: rgba(44, 18, 48, 0.74);
      margin-top: 5%;
      justify-content: center;
      align-content: center;
      height: fit-content;
      width: 100%;
   
      font-size: clamp(0.7rem, 2.0vw, 1rem);
      padding: 10px 0px 30px 0px;
         
    }
      
      
      
      .left__text__footer--base {
        margin-top:-30px;
        margin-bottom: 3%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        color: rgb(243, 223, 255);
        letter-spacing: 0.5px;
       word-spacing: 1px;
       gap: 4px;
       
      }
      .left__text__footer--base:hover{
        color: rgba(255, 255, 255, 0.952);
      }
 
      .right_text__footer--base {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
        margin: auto;
        padding: 30px 0px;
      
     
      
        color: rgba(136, 255, 235, 0.959);
        margin-bottom: 2%;
      }
      .right_text__footer--base a {
      
            color: #7efc96;
            margin-bottom: 2%;
          }
      .right_text__footer--base a:hover {
    
        color: rgba(5, 255, 193, 0.959);
      }
  
    /*----------> FOOTER / <<<  ENDS >>>  <-----------*/
   /*________________________________________________*/

  

   

                        /*----------> <<< QUERIES STYLES >>> <-----------*/
                        /*______________________________________________/


  
/*----------> HEADER <<< QUERIES >>> <-----------*/
  
@media screen and (min-width: 700px){
  
  
      .header
      {
        display: none;  
      
      } 
        .open_menu_button
      {
        display: none;
       }                 
}

 /*----------> HOME PICTURE <<< QUERIES >>> <-----------*/
  
 @media screen and (min-width: 700px){

      .home__picture{
              top: 0;      
        }
        .picture-home{
           margin-top: 0%;
           
        }
        

        .picture-items h4{
           
            margin-bottom: 20%;
        }
        
}

/* <---- HEADER SECTION   << QUERIES / ENDS >>>  ----->*/
/*____________________________________________________*/

            
/* <---- NAV BODY  SECTION <<< QUERIES >>>   ----->*/
  
    @media screen and (min-width: 700px){   
.nav-body{
      position: relative;
  
      height: 30%;
      margin: 1px 1px;
        width: 50%;
    justify-self: center;
}
      .nav-list-body{
            position: relative;
            display: flex;
            flex-direction:row;
            justify-content: space-between; 
            width: 100%;
            font-family: 'Script MT';}

      .nav-item-body{
            text-align: center;
      width: 40%;
      padding: 8px;
      border-bottom: 1px solid rgba(35, 31, 32, 45%);
     border-radius: 5px;
     border-bottom-left-radius: 0%;
     border-bottom-right-radius: 0;
  transition: background-color 2s, border-radius 1s, outline 0.8s,
    outline-offset 0.1s;
      outline: 1px;
      outline-offset: 0;
      list-style: none; 

            
      }

      .nav-item-body:hover{
      
   
      border-radius: 25px;
      background-color: #e69ff8f1;
      border-radius: 23px;
      padding:10px 30px;
      outline: 1px solid rgb(255, 255, 255);
  outline-offset: -3px;
            
      }

      .nav-item-body a{
      color: #000000;
      font-size: x-large;
      font-weight: 600;   

      }

    }

/* <---- NAV BODY SECTION  <<<< QUERIES / ENDS >>>>----->*/
/*____________________________________________________*/
    
       
  
  /* <---- MAIN SECTION STYLES <<<< QUERIES >>>> ----->*/

  @media screen and (min-width: 700px){   
.img-main{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height:100dvh;
     


}

.card{
   
      position: absolute;
    margin: auto;
      align-self: center;
      display: flex;
      width: clamp(70dvw, 50%, 90dvw);
      height: clamp(max-content, 50%, 100dvh);
      max-width: clamp(60dvw, 50%, 90dvw);
      min-height: clamp(max-content, 50%, 100dvh);
      max-height: clamp(max-content,50%, 100dvw);
      margin-top: 4%;
      background-color:#ed7efc96;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: -1px 1px 1px black;
      
  }
  
  .card__back{
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 12px;
      transform: perspective(900px)rotateY(180deg);
      border-radius: 20px;
      border: 1px dotted white;
  }
  
  .card__back span{
      text-align: center;
      align-self: center;
      font-size: clamp(1.5rem,2.2%, 2rem);
      
      margin: 6px 0;
      
  }
  .card__back p{
      align-self: center;
      text-align: justify;
      font-size: clamp(1.2rem,2.2%, 1.8rem);
  text-wrap: wrap wrap;
      margin: 6px 6px;
      white-space:pre;
      white-space:normal;   
      text-align: justify;
    
    
   
    
  }
  .card__back, .card__front{
  backface-visibility: hidden;
  transition: transform 3s;
  background-color:#ca90f7;
  border-radius: 20px;
  padding-bottom:6px ;
  }
  
  .card:hover .card__front{
      transform: perspective(300px)rotateY(180deg);
  }
  .card:hover .card__back{
      transform: perspective(300px)rotateY(360deg);
      background-color: rgb(253, 22, 138);
      color:#000000;
  }
  
  .card__front{
    
      transform: perspective(200px)rotateY(0deg); 
      margin: 3px;
      padding: 12px;
      height: 40%;
      background-color: #ca90f7;
      border-radius: 20px;
  }
  .card__front{
     
  height: fit-content;
  background-color: #ff80d5;
  }
  .card__front img{
      width: 100%;
      background-repeat: no-repeat;
      background-size:  cover;
      background-position:center ;
      border-radius: 20px;
      margin-bottom: 10%;
    
  }

  .card__front span{
    display: flex;
    justify-self: center;
    font-size: clamp(1.5rem,2.2%, 2rem);
     color: rgb(50, 5, 68);
     text-shadow: 1px 1px 1px #ffffff;
     font-weight: bold;
    
  }
  .card__front p{
      display: flex;
      justify-self: center;
  
     font-size: clamp(1rem,2.2%, 1.5rem);
     margin: 0% 0% 7% 0%;
     display: block;
     color: rgb(0, 0, 0);
   font-weight: 400;
    
  }
  .card__front h4{
      text-align: center;
      display: flex;
   align-self: center;
  color: rgba(255, 255, 255, 0.959);
  text-shadow: -1px 1px 1px #000000;
  font-weight:600;
background-color: #3ddb5aec;
  padding: 8px 10px;
  margin: 15px 10px;
  border-radius: 8px;
  transition: background-color 1s, border-radius 0.8s, outline 0.8s,
    outline-offset 0.8s;
    outline: 1px solid rgba(136, 55, 122, 0.829);
  outline-offset: 2; 

  }
  .card__front h4:hover {
      background-color: rgba(255, 138, 226, 0.178);
      color: rgb(255, 0, 106);
      border-radius: 20px;
      padding: 15px;
      outline: 2px solid rgba(253, 3, 3, 0.596);
      outline-offset: -7px;
    }
    
 
  
  .icon-card{
      display: flex;
    justify-self: center;
    font-size: 30px;
    color: #3f0257;
  }

  
}
  
  
/* <---- MAIN SECTION  <<<< QUERIES / ENDS >>>>----->*/
/*__________________________________*:________________/


    

        /*---------->  FOOTER- BASE/ <<<< QUERIES>>>>  <-----------*/


        @media screen and (min-width: 620px) { 
        .base__footer{
      height: 12dvh;
      margin-top: 5%;
      }
      
      .left__text__footer--base {
      display: flex;
      align-items: center;
      flex-direction: row;
       margin-left: 50px;
      }
      
      .left__text__footer--base:hover{
        color: rgba(20, 214, 101, 0.952);
      }
              
      .right_text__footer--base {
        margin-top: 12px;
      display: flex;
      align-items: center;
      
      }
          
      }
/*----------> HEADER QUERIES <-----------*/

@container header (min-width: 600px){
      .nav_hdr{
            margin-top: 0;
            display: block;
            position: static;
            z-index: 1;
            background-color: transparent;
            height: auto;
            width: auto;
            justify-content: space-between;  
          
      }
      .nav_hdr-item a{
            color: rgb(1, 142, 207); 
            font-size: large;
            font-weight: 400;
      }

      .nav_hdr-list {
            flex-direction: row;
            height: auto;
            width: auto;
            gap: 20px;
            margin-right: 40px;
           
           
      }
      .header__open-nav-button{
            display: none;
       } 
     
          
      }
/*----------> HEADER ENDS <-----------*/
/*-----------------------------------*/









/* --- NAVBAR SECTION --- */

