body{
    position:relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: fit-content;
}
body,div{
    box-sizing: border-box;
}

.photos_img{
    position: absolute;
    background-image: url(../../invitados/img/coche.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%
    }
    
    /*----------> PORTAFOLIO SECTION <-----------*/
.galery{
   
    background-color: #e7bffcd3;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    container-type: inline-size;
    container-name: galery;
    justify-content: space-egalery;
    margin-top: 12%;
    box-shadow: -1px 1px 3px rgb(241, 195, 231);
    width: 45%;
    border-radius: 8px;
    justify-self: center;
   
}
.galery__tittle{
    font-size: 1rem;
    margin-bottom: 0;
}
.galery__container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 15px;
    padding: 15px;
    min-height: 80vh;
}
.galery__img-container{
    background-image: linear-gradient(#8a45c2e7, #ff53cbd7), url("../../imagenes/onirica.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 8px;
  width: fit-content;
}
.galery__img-container:hover{
 opacity: 0.74;
 outline: 2px solid white;
}
.galery__img-container img{
 
    border-radius: 8px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%
    }
    



/*----------> PORTAFOLIO QUERIES <-----------*/

 /* <---- GALERY <<< QUERIES >>>   ----->*/
   
 @media screen and (min-width: 700px){ 
    .galery{
   
       
        margin-top: 10%;
       
        width: 40%;
       
       
    }
    .galery__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .galery__img-container{
        width: 100%;
        height: 100%;
    }
    .galery__img-container img{
        width: 100%;
        height: 100%;
    }


   }



  

     
   /*_________________________________________________________*/ 
 /*----------> <<<< QUERIES / ENDS >>>>  <-----------*/
 /*--------------------------------------------------*/

/*----------> PORTAFOLIO ENDS <-----------*/
/*-----------------------------------*/


