body{
    position:relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: fit-content;
}
body,div{
    box-sizing: border-box;
}

.registry_img{
    position: absolute;
    background-image: url(../../invitados/img/registry_img.avif);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%
    }
    
 
.grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr) ;
    
    grid-auto-flow: row;
    grid-auto-columns:  minmax(1fr,2fr); 
  
    margin: auto;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.377);
        border-bottom: 1px solid rgba(0, 0, 0, 0.377);

    background-color: rgba(255, 198, 222, 0.93);
    box-shadow: -1px 0px  3px rgb(158, 114, 184);
    border-radius: 2px;
    width: 80%;
    min-width: fit-content; 
    max-width:fit-content; 
    font-size: clamp(0.8rem, 2.2vw, 1rem);  
    
    
    margin-top: 10%;
    padding: 15px;
    gap: 15px;
  

 
}

.grid :first-child
{
    grid-column: 1/span 2;
    grid-row: 1/span 1; 
  justify-self: center;
  align-self: center;
  color: rgb(255, 255, 255);
  text-shadow: -2px 1px 1px #270442;
  font-weight: bold; 
  font-family: 'Verdana';
 

}
.grid-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px  3px rgb(255, 147, 219);
    font-size: 30px;
    border-radius: 4px;
    color: aliceblue;
    min-height: 100%;
    min-width: 100%;
   
    
   
}


.grid-item:hover{
  opacity: 1;
    box-shadow: 0px 0px  3px rgb(163, 163, 163);
}


.grid-item img{
   
    height: 90%;
    width: 100%;
    max-width: fit-content;
        padding: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 
}


.grid-item:last-child img{
   
    height: 80%;
    width: 100%;
    padding: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 
}


/*---------->  <<<SHOP BOTON >>> <-----------*/

.shop_button {
    position: absolute;
    align-self: center;
    bottom: 0;
    margin-bottom: 10%;
    border:0.5px solid black ;
   
    justify-self: flex-end;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.888);
    text-shadow: -1px 1px 1px #ffffff;
    font-weight:600;
    text-decoration: none;
    padding: 3px;
    align-items: center;
    border-radius: 15px;
    outline: 0;
    font-size: 13px;
    text-align: center;
    width: 80%;
    transition: background-color 1s, border-radius 0.8s, outline 0.7s,
    outline-offset 0.5s;
  }
  .shop_button:hover {
    background-color: rgba(255, 184, 240, 0.904);
    outline: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-shadow: -1px 1px 1px #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px  10px rgb(255, 188, 219);
    font-weight: 600;
    padding: 2px;
  } 
  
   /*----------> SHOP BOTON / <<<  ENDS >>>  <-----------*/
   /*________________________________________________*/
  


                /*----------> <<< QUERIES REGISTRY STYLES >>> <-----------*/
                /*______________________________________________/



 /* <---- GRID  SECTION <<< QUERIES >>>   ----->*/
   
 @media screen and (min-width: 700px){ 

    .grid{
      
        width: 20%;

      
        font-size: clamp(0.8rem, 2.2vw, 0.9rem);  
        margin-top: 8%;
      
      
    
     
    }
    
    .grid :first-child{
        grid-column: 1/span 2;
        grid-row: 1/span 1; 
      justify-self: center;
      align-self: center;
      color: rgb(255, 255, 255);
      text-shadow: -2px 1px 1px #270442;
      font-weight: bold; 
      font-family: 'Verdana';
     
    
    }
    .grid-item{
        background-color: rgb(236, 235, 236);
        box-shadow: 0px 0px  3px rgb(222, 84, 250);
        font-size: 30px;
        border-radius: 4px;
        color: aliceblue;
        height: 170px;
        min-height: fit-content;
        width: 160px;
        min-width: fit-content;
        
       
    }
    
    
    .grid-item:hover{
      opacity: 1;
        box-shadow: 0px 0px  3px rgb(142, 44, 161);
    }
    



   }



   /*---------->  <<<SHOP BOTON >>> <-----------*/
   @media screen and (min-width: 700px) {
.shop_button {
   
    padding: 5px;
    width: 80%;
  }
  .shop_button:hover {
    padding: 4px;
  } 
}
   /*----------> SHOP BOTON / <<<  ENDS >>>  <-----------*/
   /*________________________________________________*/
  





     
   /*_________________________________________________________*/ 
 /*----------> <<<< QUERIES / ENDS >>>>  <-----------*/
 /*--------------------------------------------------*/