body{
      position:relative;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      min-height: 100vh;
      max-height: fit-content;
   
      background-color: #fffffffa;
 

     
     
}


 div,ul,nav,top_frame,footer,a,li,label,body,h1,p,img{
      margin: 0;
      padding: 0;
      box-sizing: border;

      }

/*---------->HEADER SECTION <-----------*/

.top_frame{
   
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      width: 100%;
      height: 10dvh;
      align-items: center;
      max-width: 100%;
    
     
      background-color: rgba(255, 201, 232, 0.842);
        
    
  }
  
.top_frame img{
     position: absolute;
    margin: auto;
    width:60%;
    margin-top: 2%;
         
        }

.top_frame h3{
 position: absolute;
 margin: auto;
 width:80%;
 }

 .open_menu_button{
      position: absolute;
       color: rgb(255, 255, 255);
      text-shadow: -1px 1px 2px #440375;
      font-weight: bold; 
      font-size: 1.3rem;
      font-weight: lighter;
      align-items: center;
      margin-left: 6%;
      left: 0;
      width:10%;

}

.logo-top_frame{
      position: absolute;
      display: flex;
      flex-direction: row;
      top: 0;
      right:0;
      max-width: 145px;
      z-index: 20;   
}

/* <---- HEADER SECTION  ENDS ----->*/
/*__________________________________*/

/* <---- SIDE NAV  BAR  ----->*/

.nav{
           
      display: flex;
      flex-direction: row;
      justify-content: center; 
      align-content: center;
      text-align: center;
      font-family: 'Script MT';
       width: 100%;
     padding: 20px 0;
                 
}



.nav-item{
  
list-style: none;       
}

.nav-item a{
   color: #000000;
   font-size: clamp(1.5rem, 2.2vw, 2rem);
   font-weight: 600;     
}

/* <---- SIDE NAV  BAR   ENDS ----->*/
/*__________________________________*/



/* --- HOME PICTURE SECTION --- */
.home__picture{

display: flex;
flex-direction: column;
justify-content: center;



   
}
.home__picture .items img
{
position: relative;
height: 100%;
width: 100%;
padding: 0;
background-size: cover;
background-repeat: no-repeat;
background-position: center center 
}



 .title{
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      align-self: center;
      margin-top: 18%;
      z-index: 10;

      color: rgb(255, 255, 255);
      font-weight: lighter;
      font-family: 'Script MT';
      font-size: clamp(1.2rem, 2.2vw, 1.8rem);
      /* filter: drop-shadow(0px 0px 50px #ff03b3)
      drop-shadow(0px 0px 5px #e02b8e); */
      text-shadow: -3px 1px 3px #1b0119;

}


/* <---- HOME PICTURE SECTION  ENDS ----->*/
/*__________________________________*/



/* <---- MAIN SECTION STYLES ----->*/
.img-body-home{
position: absolute;
background-image: url(../../invitados/img/main_home_img.jpg);
margin: 0;
padding: 0;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
height: 100%;
width: 100%
}


/* <---- NAV BODY  SECTION  ----->*/

.nav-body{
      display: flex;
      top: 0;
      flex-direction: column;
      justify-content: center; 
      align-content: center;
      text-align: center;
      font-family: 'Script MT';
      width: 100%;
      padding: 0px 0;         
}



.nav-item-body{
      text-align: center;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid rgba(35, 31, 32, 45%);
    background-color: #e69ff8f1;
    list-style: none; 

      
}

.nav-item-body:hover{
   
    padding: 10px;
    
    background-color: #f0f0f0;
      
}

.nav-item-body a{
   color: #000000;
   font-size: clamp(1rem, 2.2vw, 2rem);
   font-weight: 600;   

}

/* <---- NAV BODY SECTION  ENDS ----->*/
/*__________________________________*/



/* <---- CARD SECTION  ----->*/
.card{
position: relative;
display: flex;
flex-direction: column;
justify-content:space-around;
margin: auto;
align-self: center;
margin-top: 10%;
margin-bottom: 2%;
width:45%;
height:fit-content;
background-color:#ed7efc96;
border-radius: 20px;
overflow: hidden;
box-shadow: -1px 1px 1px black;
font-family: 'Verdana';
     
      
  }
  
  .card__back{
      display: flex;
      flex-direction: column;
      justify-content:stretch;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 12px;
      transform: perspective(900px)rotateY(180deg);
      border-radius: 20px;
      border: 1px dotted white;
  }
  
  .card__back span{
      text-align: center;
      align-self: center;
      font-size: medium;
      margin: 6px 0;
      margin-top: 5%;
      
  }
  .card__back p{
      align-self: center;
      text-align: justify;
      text-wrap: wrap wrap;
      margin: 6px 6px;
      margin-top: 8%;
      white-space:pre;
      white-space:normal;   
      text-align: justify;
      font-size:small;
   
  }
  .card__back, .card__front{
  backface-visibility: hidden;
  transition: transform 3s;
  background-color:#ae4afa;
  color: white;
  border-radius: 20px;
  padding-bottom:6px ;
  }
  
  .card:hover .card__front{
      transform: perspective(300px)rotateY(180deg);
  }
  .card:hover .card__back{
      transform: perspective(300px)rotateY(360deg);
      background-color: rgb(253, 22, 138);
      color:#ffffff;
  }
  
  .card__front{
    
      transform: perspective(200px)rotateY(0deg); 
      margin: 1px;
      padding: 2px;
      background-color: #b05af1;
      border-radius: 20px;
  }
  .card__front{
     
  height: fit-content;
  background-color: #ff80d5;
  }
  .card__front img{
      width: 100%;
      background-repeat: no-repeat;
      background-size:  cover;
      background-position:center ;
      border-radius: 20px;
      margin-bottom: 8%;
      height:   32dvh;
    
  }

  .card__front span{
    display: flex;
    justify-self: center;
    font-size: 1.1rem;
     color: rgb(50, 5, 68);
     text-shadow: 1px 1px 1px #ffffff;
     font-weight: bold;
    
  }
  .card__front p{
      display: flex;
      justify-self: center;
      text-align: center;
     font-size:0.9rem;
     margin: 0% 0% 7% 0%;
     display: block;
     color: rgb(0, 0, 0);
   font-weight: 400;
    
  }
  .card__front h4{
  text-align: center;
  display: flex;
  text-align: center;
  justify-self: center;

  color: rgba(255, 255, 255, 0.959);
  text-shadow: -1px 1px 1px #000000;
  font-weight:bold;
 font-size: 13px;
background-color: #3ddb5aec;
  padding: 8px 10px;

  border-radius: 8px;
  transition: background-color 1s, border-radius 0.8s, outline 0.8s,
    outline-offset 0.8s;
    outline: 1px solid rgba(136, 55, 122, 0.829);
  outline-offset: 2; 

  }
  .card__front h4:hover {
      background-color: rgba(255, 138, 226, 0.178);
      color: rgb(255, 0, 106);
      border-radius: 20px;
      padding: 15px;
      outline: 2px solid rgba(253, 3, 3, 0.596);
      outline-offset: -7px;
    }
    
 
  
  .icon-card{
    display: flex;
    justify-self: center;
    font-size: 30px;
    color: #3f0257;
  }

 
  
  /* <---- CARD SECTION  ENDS ----->*/
/*__________________________________*/
  
/* <---- MAIN SECTION  ENDS ----->*/
/*__________________________________*/




/*----------> FOOTER  / <<<< HOME >>>>  <-----------*/

.base__footer {
 position: absolute;
  display: flex;
  flex-direction: column;
  height: 10%;
bottom: 0;

  font-family: 'Verdana';
  background-color: rgba(75, 9, 85, 0.74);
  justify-content: center;
  align-content: center;
  min-width: 100%;
  max-height: fit-content;
  width: 100%;
  font-size: smaller;
  padding: 10px 0px 30px 0px;
 
     
         
    }
      
      
      
.left__text__footer--base {
  margin-top:-48px;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  color: rgb(255, 187, 227);
  letter-spacing: 0.5px;
  word-spacing: 1px;
  gap: 4px;
  
}
.left__text__footer--base:hover{
  color: rgba(255, 255, 255, 0.952);
}

.right_text__footer--base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  margin: auto;
  padding: 30px 0px;



  color: rgba(136, 255, 235, 0.959);
  margin-bottom: 2%;
}
.right_text__footer--base a {

      color: #7efc96;
      margin-bottom: 2%;
    }
.right_text__footer--base a:hover {

  color: rgba(5, 255, 193, 0.959);
}

    /*----------> FOOTER HOME / <<<  ENDS >>>  <-----------*/
   /*________________________________________________*/

  



/* <---- CHECKBOX SECTION STYLES ----->*/

.header__checkbox{
      display: none;     
}

.nav-item a:not(:is(:hover,:active)){
      text-decoration: none;
}

.top_frame:has(input[type="checkbox"]:checked).top_frame img{
      display: none;
      }



.top_frame:has(input[type="checkbox"]:checked).top_frame{

display: flex;
background: linear-gradient(rgb(168, 58, 211), rgb(248, 3, 154));
height:120dvh;
font-family: 'Script MT';
width: 100%;

}

.top_frame:has(input[type="checkbox"]:not(:checked)).top_frame .nav{
      display: none;
}
.top_frame:has(input[type="checkbox"]:not(:checked)).top_frame .nav-body{
  display: none;
}


.top_frame:has(input[type="checkbox"]:checked).top_frame .nav{
     
       
         flex-direction: column;
         justify-self: center;
          width: max-content;
          margin-bottom: 30%;
          font-size: 30px;
        
      }




.header__checkbox:checked~ .open_menu_button{
      color: rgb(0, 0, 0);
      text-shadow: -1px 1px 2px #ffffff;
      top: 20px;
      align-self: flex-start;
      font-weight: lighter;

}


.top_frame .header__checkbox{
      display: none;
   
}

 .top_frame:has(input[type="checkbox"]:not(:checked)).top_frame .logo-top_frame
{
      display:none;  
          
}


.top_frame:has(input[type="checkbox"]:checked).top_frame .logo-top_frame
{
  display: flex;
  margin-right: -4%;
  margin-top: 1%;
  width: 107px;       
}

.top_frame:has(input[type="checkbox"]:checked) h4,
.top_frame:has(input[type="checkbox"]:checked) .contenedor
{
      display:none;
} 


/* <---- CHECKBOX SECTION STYLES ENDS ----->*/
/*__________________________________*/





   

                        /*----------> <<< QUERIES STYLES >>> <-----------*/
                        /*______________________________________________/


  
/*----------> HEADER <<< QUERIES >>> <-----------*/
  
@media screen and (min-width: 700px){
  
  
      .top_frame
      {
        display: none;  
      
      } 
        .open_menu_button
      {
        display: none;
       }                 
}

 /*----------> HOME PICTURE <<< QUERIES >>> <-----------*/
  
 @media screen and (min-width: 700px){

     /* --- HOME PICTURE SECTION --- */

      .home__picture .items img
      {
     
     margin-top: 0;
      
      }
      
       .title{
            
            top: 23%;
           
      }
      
    } 
      /* <---- HOME PICTURE SECTION  ENDS ----->*/
      /*__________________________________*/
      

  /* <---- HOME PICTURE SECTION  <<< QUERIES /ENDS >>> ----->*/
  /*________________________________________________________*/
  
       
  
/* <---- NAV BODY  SECTION <<< QUERIES >>>   ----->*/
  
    @media screen and (min-width: 700px){ 
      

.nav-body{
position: absolute;
display: flex;
justify-self: flex-end;
flex-direction: column;
bottom: 0;
top: 92%;
background:none;
    
}
.nav-list-body{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35%;
  padding: 6px 10px;
  border-radius: 10px; 
  margin-bottom: 1%;   
}

.nav-item-body{
  background: transparent;
  width: 30%;
  padding: 4px 6px ;
  border-bottom:1px solid rgba(255, 255, 255, 0.76);

  transition: background-color 1s, border-radius 0.8s, outline 0.8s,
  outline-offset 0.1s;
  outline: 0;
  outline-offset: 0;
  list-style: none; 

            
      }

      .nav-item-body:hover{
        background-color: #b748ea48;
        border-radius: 23px;
        padding:6px 20px;
        outline: 1px solid rgb(255, 255, 255);
       outline-offset: -4px;
       color: #000000;
      }

      .nav-item-body a{
        color: #dfdfdf;
        text-shadow: -1px 1px 1px black;
        font-size:22px;
        font-weight:bold;  

      }
      

    }

/* <---- NAV BODY SECTION  <<<< QUERIES / ENDS >>>>----->*/
/*____________________________________________________*/
    
       
  
  /* <---- BODY SECTION STYLES <<<< QUERIES >>>> ----->*/

 

@media screen and (min-width: 700px){   


.title{

  margin-top: 20%;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
}
.card{
  width:22%;
  margin-top: 5%;        
  }
  
  .card__front h4{

  margin-bottom: 3%;
 font-size: 14px;
 padding-left: 9%;



  }

  .card__back span{
  
    font-size:large;
    margin-top: 10%;
  }
  .card__back p{
    
    margin: 3px 3px;
    margin-top: 20%;
    font-size:small;
  
  }

} 


  
@media screen and (min-width: 1020px){   

  .card{

       
        margin-top: 5%;
       
        
    }
  
    .card__front img{
      height: 50%;
  }

  .card__front h4{

   justify-self: center;
   text-align: center;
   width: 75%;

  }

 
}




  
/* <---- BODY SECTION  <<<< QUERIES / ENDS >>>>----->*/
/*__________________________________*:________________/


    

 /*---------->  FOOTER- BASE/ <<<< QUERIES>>>>  <-----------*/

 /* @media screen and (min-width: 360px){
  .base__footer{
    font-size: clamp(0.8rem, 2.0vw, 1.2rem) 
 }
 .left__text__footer--base {
  margin-top:-35px;
  letter-spacing: 0.3px;
 word-spacing: 0px;
 gap: 3px;
 margin-left: 8%;
 
}
 }
@media screen and (min-width: 375px){
  .left__text__footer--base {
   margin-left: 9%;
  }
  
.right_text__footer--base {

  gap: 1px;
  margin-bottom: 0%;
}
} */

@media screen and (min-width: 700px){
  .base__footer {
    height: 15%;
    font-size: clamp(1rem, 2.0vw, 1.5rem);     
    
      
  }

  }
                        
      @media screen and (min-width: 1020px){   

      
      .base__footer {
        height: 10%;
        bottom: 0;
        font-size: clamp(0.6rem, 2.0vw, 0.8rem);
        padding: 3px 0px 3px 0px;
}
                  
                  
                  
      .left__text__footer--base {
       
       margin: auto;
        margin-bottom: 4%;
      }
                
             
  .right_text__footer--base {
   
    margin: auto;
    padding: 1px 0px;
    margin-top: 4%;
    margin-bottom: 2px;
  }
  .right_text__footer--base a {
        margin-bottom: 0%;
  
      }
  
                  
}

/* @media screen and (min-width: 340px){
  .base__footer{
    height: 10%;
      bottom: 0;}
          
} */
@media screen and (min-height: 1020px)
{
  .base__footer{
    height: 18%;
    margin-top: 15%;
    }
}
@media screen and (min-height: 1024px) {
  .base__footer{
    height: 15%;
  
  
    }
}
      
                     /*----------> FOOTER /<<<< QUERIES / ENDS >>>> <-----------*/
                 /*________________________________________________*/ 
      
    











