body{
      margin: 0;
      font-family: 'Perpetua Titling MT';
      box-sizing: border-box;
      background-color: #ffe3e3fa;
     
     
}

 div, header, nav, ul,h1,h2,p,img{
      box-sizing: border-box;

 } 
/* --- HEADER SECTION --- */
.header{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 100vh;
      box-sizing: border-box;
      background-image: url(../../invitados/img/brand.gif);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      z-index: 10;
  
  
}
.header h4{
      margin-top: 50%;
      text-align: center;
      align-self: center;
      color: rgb(255, 255, 255);
    
      font-weight: lighter;
      font-family: 'Script MT';
      font-size: clamp(1.6rem, 2.2vw, 2rem);
      /* filter: drop-shadow(0px 0px 50px #ff03b3)
      drop-shadow(0px 0px 5px #e02b8e); */
      text-shadow: -3px 1px 3px #ff006a;

}
h1{
      color: rgb(255, 187, 0);
      margin: 0;
      font-size: 50px;
      text-wrap: balance;
      font-weight: bold;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
}
.header__img{
      min-width: 250px;
      max-width: 40px;
     min-height: 250px;
     max-height:40px ;
     border-radius: 150px;
     border: 5px solid  rgb(228, 245, 0);
     margin-top: 20px;
}
.header p{
      text-wrap: pretty;
      font-size: 20px; 
}
.header__overlay{
      min-height: 100vh;
      width: 100%;
      background-color: rgba(5, 205, 255, 0.226);
      position: absolute;
      z-index: 1;
}






.header__checkbox{
      display: none;
}
.header__nav{
      margin-top: -10%;
      display: none;

      background: linear-gradient(rgb(255, 91, 160), rgb(210, 40, 233));
      position: absolute;
      height: 120vh;
      width: 100%;
      top: 0;
      z-index: -1;
     
   
}

.header__nav-list{
      display: flex;
      flex-direction: column;
      height: 40vh;
      margin: auto;
      justify-content: space-evenly;

}

.header__checkbox:checked ~.header__nav {
      display: flex;
      font-size: x-large;     
}

.header__checkbox:checked~.header__open-nav-button {
      color: rgb(0, 0, 0);

}

.header .header__checkbox{
      display: none;
}
.header__logo{
      align-self: self-start;
      max-width: 100%;
      width: 1000px;
      margin: 10px 20px;
}
.header__open-nav-button{
      color: rgb(0, 174, 255);
      font-size: 3rem;
      font-weight: 600;
      position: absolute;
      right: 10px;

}
.header__nav-item{
     
      list-style: none;
     
     
}
.header__nav-item a{
      color: #000000;
      font-size: x-large;
      font-weight: 600;
      
}
.header__nav-item a:not(:is(:hover,:active)){
      text-decoration: none;

      

}












/* --- NAVBAR SECTION --- */

