body {
    position:relative;
    margin: 0;
    padding: 0;
    font-family: "Russo One";
    box-sizing: border-box;
    min-height: 100vh;
    max-height: fit-content;
  
   
    --card-bg-color: rgba(12, 32, 53, 0.356);
    --card-back-time-color:rgba(4, 20, 29, 0.836);
    --card-bg-hover-color: rgba(3, 3, 3, 0.699);
    --card-hover-tittle-color:rgb(255, 255, 255);
    --card-border-color: #00ffea;
    --card-bg-front-info-color: rgba(0, 0, 0, 0.692);
    --card-front-tittle-color:rgb(255, 255, 255);
    --card-front-more-info-color:rgb(205, 150, 248);
    --card-front-author-color:  rgb(255, 81, 0);
  
  
  
  }

  .tienda__img {

    background: url(../img/tienda1.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
      height: 100%;
      width: 100%;
  
  }

/* --------> BLOG / GRID - SECTION STYLES <--------- */
/* --------> BLOG /   END GRID - SECTION STYLES  <--------- */
/*_________________________________________________________*/




     /*---------------> <<< QUERIES  STYLES >>> <---------------*/
/*____________________________________________________________/


/*----------> BLOG - GRID CARDS  <<< QUERIES >>> <-----------*/
